//global styles
[direction="rtl"] {
	.dropdown-menu {
		left: auto;
	}
	.dropdown-menu-end{
		left: 0;
		right: auto;
		
		@include respond('phone') {
			left: 15px;
		}
	}
	.notification_dropdown .dropdown-menu-right .media > span{
		margin-left: 10px;
		margin-right: 0;
	}
}