$borders: (
    "right", "left", "top", "bottom", ""
);


$theme_backgrounds: (
    "color_1": $color_pallate_1, 
    "color_2": $color_pallate_2, 
    "color_3": $color_pallate_3, 
    "color_4": $color_pallate_4, 
    "color_5": $color_pallate_5, 
    "color_6": $color_pallate_6, 
    "color_7": $color_pallate_7, 
    "color_8": $color_pallate_8, 
    "color_9": $color_pallate_9, 
    "color_10": $color_pallate_10,
    "color_11": $color_pallate_11,
    "color_12": $color_pallate_12,
    "color_13": $color_pallate_13,
    "color_14": $color_pallate_14,
    "color_15": $color_pallate_15
);

$theme_textcolor: (
    "color_1": $text-color-1, 
    "color_2": $text-color-2, 
    "color_3": $text-color-3, 
    "color_4": $text-color-4, 
	"color_5": $text-color-5, 
	"color_6": $text-color-6, 
	"color_7": $text-color-7, 
	"color_8": $text-color-8, 
	"color_9": $text-color-9, 
	"color_10": $text-color-10, 
	"color_11": $text-color-11, 
	"color_12": $text-color-12, 
	"color_13": $text-color-13, 
	"color_14": $text-color-14, 
	"color_15": $text-color-15, 
);