@import "./page-error";
@import "./page-auth";
@import "./page-pricing";
@import "./page-timeline";
@import "./page-review";
@import "./patient-details";
@import "./doctor-details";
@import "./ui-element";

//specific HTML pages scss
@import "./homepage";
@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";