#sparkline-composite-chart, 
#composite-bar, 
#sparkline11, 
#StackedBarChart, 
#spark-bar, 
#tristate {
    canvas {
        height: 100px !important;
    }
}

#sparkline11 canvas {
    width: 100px !important;
}